@import url("https://fonts.googleapis.com/css?family=Lato:,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mulish:regular,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Mulish';
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: o;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-size: 400;
}

.background-one {
  background: rgba(192, 192, 192, 0.2);
}

.buttons {
  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3c64b1;
  letter-spacing: 0.3px;
  color: white;
  padding: 0px 18px;
  height: 48px;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

.header {
  width: 100%;
  height: 88px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 70px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  font-family: "Lato";
  font-weight: bold;
  margin: 28px 0px;
}

.header__logo a {
  font-style: normal;
  color: #3c64b1;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-list li {
  margin-right: 48px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.header__menu-list li:last-child {
  margin: 0;
}

.header__menu-link {
  font-style: normal;
  color: black;
  line-height: 18px;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  position: relative;
}

.header__menu-link::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: aquamarine;
  bottom: 0;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.header__menu-link:hover, .header__menu-link.active {
  color: aquamarine;
}

.header__menu-link:hover::after, .header__menu-link.active::after {
  width: 100%;
  left: 0;
}

.header__button-text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3c64b1;
  letter-spacing: 0.3px;
}

.mainblock__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 164px;
  margin-bottom: 240px;
}

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help__text {
  padding-right: 93.68px;
}

.help__text-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  color: #373f41;
  letter-spacing: 0.2px;
  margin-bottom: 40px;
}

.help__text-subtitle {
  font-family: "Mulish";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #737b7d;
  margin-bottom: 56px;
}

.help__icon {
  max-width: 570.32px;
  max-height: 388px;
}

.background-two {
  background: none;
}

.mainblock__second-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #373f41;
  margin-bottom: 56px;
}

.mainblock__second-list {
  margin-bottom: 218px;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.items__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  /*margin: 0px 30px 40px 0px;*/
}

.items__item--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
}

.items__item--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #373f41;
  margin-bottom: 12px;
}

.items__item--subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #373f41;
}

.mainblock__third {
  margin-bottom: 228px;
}

.help__text-grafic {
  margin: 45px 0px 0px 0px;
  padding: 0px 30px 0px 0px;
}

.grafic-title {
  font-size: 132px;
  line-height: 40px;
  letter-spacing: 0.1px;
  margin-bottom: 32px;
}

.margrafic {
  margin-bottom: 48px;
}

.help__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.help__items-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
