.features {
	margin-bottom: 178px;

	// .features__title

	&__title {
		font-weight: bold;
		font-size: 32px;
		line-height: 40px;
		letter-spacing: 0.1px;
		color: #373f41;
		margin: 0 auto 56px;
		max-width: 314px;
	}

	// .features__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	// .features__item

	&__item {
		padding: 0 15px;
		text-align: center;
		flex: 0 1 33.333%;
		margin-bottom: 40px;
	}
// .features__title-item

&__title-item {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.1px;
	color: #373f41;
	margin-bottom: 12px;
}
	// .features__icon

	&__icon {
		margin-bottom: 24px;
	}

	// .features__subtitle

	&__subtitle {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: #373f41;
	}
}



