.background-two {
	background: none;
}
.container {
}
.mainblock {
	// .mainblock__second

	&__second {
	}

	// .mainblock__second-title

	&__second-title {
		display: flex;
		justify-content: center;
		text-align: center;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 40px;
		letter-spacing: 0.1px;
		color: #373f41;
		margin-bottom: 56px;
	}

	// .mainblock__second-list

	&__second-list {
		margin-bottom: 218px;
	}
}
.items {
	// .items__item
	display: flex;
	flex-wrap: wrap;

	&__item {
		flex: 0 1 350px;
		/*margin: 0px 30px 40px 0px;*/
	}

	// .items__item--icon

	&__item--icon {
		display: flex;
		justify-content: center;
		margin-bottom: 24px;
	}
	// .items__item--title

	&__item--title {
		display: flex;
		justify-content: center;
		text-align: center;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.1px;
		color: #373f41;
		margin-bottom: 12px;
	}

	// .items__item--subtitle

	&__item--subtitle {
		display: flex;
		justify-content: center;
		text-align: center;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: #373f41;
	}
}
