.header {
	width: 100%;
	height: 88px;
	// .header__body

	&__body {
		display: flex;
		justify-content: space-between;
	}

	// .header__column

	&__column {
		display: flex;
		justify-content: center;
		align-items: center;
		
	}

	// .header__logo

	&__logo {
		width: 70px;
		height: 32px;
		display: flex;
		align-items: center;
		top: calc(50% - 32px / 2);
		text-transform: uppercase;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.2px;
		font-family: "Lato";
		font-weight: bold;
		margin: 28px 0px;
		a {
			font-style: normal;
			color: rgb(60, 100, 177);
		}
	}

	// .header__menu

	&__menu {
		height: 18px;
		width: 467px;
		
	}

	// .header__menu-list

	&__menu-list {
		display: flex;
		justify-content: space-between;

		li {
			width: 59px;
			height: 18px;
			font-family: "Mulish";
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 0.2px;
		}
	}

	// .header__menu-link

	&__menu-link {
		font-style: normal;
		color: black;
		line-height: 18px;
		@include anim(0.4s,0s);
		position: relative;
		&::after{
			content: '';
			position: absolute;
			left: 50%;
			width: 0;
			height: 1px;
			background-color: aquamarine;
			bottom: 0;
			@include anim(0.6s,0s);
		}
		&:hover {
			color: aquamarine;
			&::after{
				width: 100%;
				left: 0;
			}

		}
	}

	// .header__button

	&__button {
		width: 83px;
		height: 42px;
		top: calc(50% - 42px / 2);
		
	}

	// .header__button-text

	&__button-text {
		font-family: "Mulish";
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #3c64b1;
		letter-spacing: 0.3px;
		color: white;
		padding: 12px 18px;
		a {
			color: white;
		}
	}
}