@import "nullstyle";

//============================ШРИФТЫ========================================================================
@import url("https://fonts.googleapis.com/css?family=Lato:,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mulish:regular,600,700&display=swap");
//============================ШРИФТЫ========================================================================

//============================ШРИФТЫ ПО УМОЛЧАНИЮ===========================================================

.help-block {
	background: rgba(192, 192, 192, 0.3);
	padding: 164px 0px 120px 0px;
	margin-bottom: 120px;
}

.buttons {
	font-family: "Mulish";
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: #3c64b1;
	letter-spacing: 0.3px;
	color: white;
	padding: 0px 18px;
	height: 48px;
}
.wrapper {
	width: 100%;
	height: 100%;
}
.container {
	margin: 0 auto;
	max-width: 1110px;
}
@import "header";

.mainblock {
}

.help {
	// .help__text
	display: flex;
	margin: 0 -47px;
	&--statistic {
		margin: 0 -15px;
	}

	&__text {
		flex: 0 1 50%;
		padding: 0 47px;
		&--statistic {
			padding: 0 15px;
		}
	}

	// .help__text-title

	&__text-title {
		font-family: "Mulish";
		font-style: normal;
		font-weight: bold;
		font-size: 44px;
		line-height: 56px;
		color: #373f41;
		letter-spacing: 0.2px;
		margin-bottom: 40px;
		&--statistic {
			font-size: 32px;
			line-height: 40px;
			letter-spacing: 0.1px;
			margin-bottom: 32px;
		}
	}

	// .help__text-subtitle

	&__text-subtitle {
		font-family: "Mulish";
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.3px;
		color: #737b7d;
		margin-bottom: 56px;
		&--statistic{
			margin-bottom: 48px;
		}
	}
	

	// .help__icon

	&__icon {
		flex: 0 1 50%;
		padding: 0 47px;
		&--statistic {
			padding: 0 15px;
		}
	}
}

@import "mainsecond";

@import "mainthird";

@import "mainfourth";

@import "main5";

@import "footer"